body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    margin: 0;
    /*padding: 10px;*/
    background-color: #282D35;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

main {
    padding: 57px 27px;
    color: white;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.navbar > h3, .navbar > h4 {
    margin: 0;
}

.navbar > h3 {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.navbar > h4 {
    color: #DEEBF8;
    font-weight: 600;
}

.navbar > img {
    height: 30px;
    margin-right: 7px;
}

.nav-logo {
    pointer-events: none;
    width: 50px;
}

@media (prefers-reduced-motion: no-preference) {
    .nav-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.nav-items {
    list-style: none;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-items > li {
    padding: 10px;
}

.nav-header {
    -webkit-box-shadow: 0 5px 6px -6px black;
    -moz-box-shadow: 0 5px 6px -6px black;
    box-shadow: 0 5px 6px -6px black;
}

.app-footer {
    background: lightgrey;
    text-align: center;
}
